body,
html {
	margin: 0px;
	background-color: black;
	width: 100%;
	height: 100%;
	background: url('background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	color: #69BE28;
	border-bottom: 1px solid white;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.headText {
	text-align: left;
	color: #002244;
	font-size: 3em;
	font-style: italic;
	text-shadow: 3px 3px #69BE28;
	border-top: 2px solid #A5ACAF;
	border-bottom: 2px solid #A5ACAF;
	margin: 5px;
	padding: 5px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}


.Aligner {
  	display: flex;
  	align-items: center;
  	min-height: 24em;
  	justify-content: center;
}

.Aligner-item {
  	flex: 1;
}

.Aligner-item--top {
  	align-self: flex-start;
}

.Aligner-item--bottom {
  	align-self: flex-end;
  	padding: 20px;
 }

.Aligner-item--fixed {
  	flex: none;
  	max-width: 50%;
  	margin-top: 50px;
}

.btn-primary {
	background-color: #002244;
	border: 2px solid #69BE28;
	-moz-border: 2px solid #69BE28;
}

.btn:hover {
	background-color: #69BE28;
	border: 2px solid #002244;
	-moz-border: 2px solid #002244;
}

.footer {
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
	text-align: center;
	padding-bottom: 50px;
}